body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: #f6a500;
  color: #000;
  text-align: center;
  padding: 20px 0;
  font-size: 28px;
  font-weight: bold;
}

.main {
  display: flex;
  margin-top: 10px;
}

.left {
  width: 70%;
  padding-right: 20px;
}

.right {
  width: 30%;
  background-color: #eee;
  padding: 15px;
  box-sizing: border-box;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: #f6a500;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.image {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #ccc;
}

.footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.right h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.right p {
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;
}